body {
    font-family: Verdana, sans-serif;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.info-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2rem;
}

.info-image, .info-text {
    width: 50%;
}

.table-section table, .form-section form {
    width: 60%;
    margin: auto;
}
