
@media (min-width: 1200px) {
    .content {
        max-width: 90%; 
        padding: 2rem; 
    }

    .content-section-container {
        gap: 60px;
    }

    .comparison-table {
        font-size: 1.1em; 
    }

    .navbar ul {
        gap: 2rem; 
    }

    .card {
        width: calc(33.33% - 20px); 
    }
}
